@font-face {
  font-family: sf-pro-bold;
  src: url(../fonts/SFProText-Bold.ttf);
}
@font-face {
  font-family: sf-pro-regular;
  src: url(../fonts/SFProText-Regular.ttf);
}
@font-face {
  font-family: sf-pro-semibold;
  src: url(../fonts/SFProText-Semibold-1.ttf);
}
